.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;
}

.line {
  width: 80ch;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  line-height: 2em;
  color: gray;
}

.line-curr::before {
  content: '> ';
  margin-left: -2ch;
}

.char-untyped {
  color: white;
}

.char-typed {
  color: limegreen;
}

.char-error {
  color: red;
}

.char-garbage {
  color: darkorange;
}

.char-cursor {
  animation-name: blink;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: step-end;
}

@keyframes blink {
  0% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: black;
    color: white;
  }
}
