.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.line {
  width: 80ch;
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  line-height: 8rem;
}

.line-curr::before {
  content: '> ';
  margin-left: -2ch;
}

.char-typed {
  color: green;
}

.char-error {
  color: orange;
}

.char-garbage {
  color: red;
}

.char-cursor {
  animation-name: blink;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: step-end;
}

@keyframes blink {
  0% {
    background-color: black;
    color: white;
  }
  50% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: white;
    color: black;
  }
}
